<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		
		<!-- ========================================= -->
		<!-- $META TAGS                                -->
		<!-- ========================================= -->
		
		<meta charset="UTF-8">
		<meta name="description" content="brief description here">
		<meta name="keywords" content="insert, keywords, here">
		<meta name="robots" content="index, follow">
		<meta name="author" content="krazicode">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- ========================================= -->
		<!-- $PAGE TITLE                               -->
		<!-- ========================================= -->
		
		<title>Work Item</title>

		<!-- ========================================= -->
		<!-- $PAGE FAVICON                             -->
		<!-- ========================================= -->

		<link rel="icon" type="image/png" href="media/images/favicon.png">
		
		<!-- ========================================= -->
		<!-- $STYLESHEETS                              -->
		<!-- ========================================= -->
		
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/animate.min.css">
		<link rel="stylesheet" href="css/magnific-popup.css">
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/work.css">
		<link rel="stylesheet" href="css/skins/yellow.css">

		<!-- ========================================= -->
		<!-- $GOOGLE FONTS                             -->
		<!-- ========================================= -->

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

	</head>

	<!-- ========================================= -->
	<!-- $TABBLE OF CONTENTS                       -->
	<!-- ========================================= -->

	<!--

		> $PRELOADER SECTION
		> $NAVIGATION
		
			> #NAVIGATION HIRE BUTTON
			> #NAVIGATION TOGGLE BUTTON
			> #NAVIGATION MENU

		> $WORK ITEM TITLE SECTION
		> $WORK ITEM DETAILS

			> #PREVIEW / DETAILS

				> @WORK ITEMS NAVIGATION
				> @PREVIEW
				> @DETAILS
				
					> &PROJECT DESCRIPTION
					> &PROJECT INFORMATION

			> #CLIENT TESTIMONIALS
			> #RELATED PROJECTS

		> $FOOTER SECTION

			> #FOOTER SOCIAL LIST
			> #COPYRIGHT

		> $SCRIPTS

	-->

	<body style="overflow-y: hidden;">
		
		<!-- ========================================= -->
		<!-- $PRELOADER SECTION                        -->
		<!-- ========================================= -->

		<section id="preloader"></section>
		
		<!-- ========================================= -->
		<!-- $NAVIGATION                               -->
		<!-- ========================================= -->

		<section id="navigation" class="">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-table">

						<!-- NAVIGATION CONTROLS -->
						<div class="navbar-cell tight">
							<div class="navbar-header">
								<div>

									<!-- #NAVIGATION HIRE BUTTON -->
									<a href="home-image-bottom.html#contact" class="btn btn-hire btn--main-inverted">
										<i class="fa fa-briefcase"></i><!--
										--><span>hire me</span>
									</a>

									<!-- #NAVIGATION TOGGLE BUTTON -->
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="fa fa-bars normal"></span>
									</button>

								</div>
							</div>
						</div>

						<!-- #NAVIGATION MENU -->
						<div class="navbar-cell stretch">
							<div class="collapse navbar-collapse" id="navbar-collapse-1">
								<div class="navbar-cell">
								<ul class="nav navbar-nav navbar-right text-uppercase bold small">
									<li>
										<a href="home-image-bottom.html#home">
											<i class="fa fa-home fa-fw"></i>
											<span>home</span>
										</a>
									</li><!--
									--><li>
										<a href="home-image-bottom.html#profile">
											<i class="fa fa-female fa-fw"></i>
											<span>profile</span>
										</a>
									</li><!--
									--><li>
										<a href="home-image-bottom.html#resume">
											<i class="fa fa-book fa-fw"></i>
											<span>resume</span>
										</a>
									</li><!--
									--><li>
										<a href="home-image-bottom.html#skills">
											<i class="fa fa-pie-chart fa-fw"></i>
											<span>skills</span>
										</a>
									</li><!--
									--><li>
										<a href="home-image-bottom.html#services">
											<i class="fa fa-cog fa-fw"></i>
											<span>services</span>
										</a>
									</li><!--
									--><li>
										<a href="home-image-bottom.html#portfolio">
											<i class="fa fa-briefcase fa-fw"></i>
											<span>work</span>
										</a>
									</li><!--
									--><li>
										<a href="home-image-bottom.html#pricing">
											<i class="fa fa-dollar fa-fw"></i>
											<span>pricing</span>
										</a>
									</li><!--
									--><li>
										<a href="home-image-bottom.html#news">
											<i class="fa fa-comment fa-fw"></i>
											<span>news</span>
										</a>
									</li><!--
									--><li>
										<a href="home-image-bottom.html#testimonials">
											<i class="fa fa-pencil fa-fw"></i>
											<span>testimonials</span>
										</a>
									</li><!--
									--><li>
										<a href="home-image-bottom.html#contact">
											<i class="fa fa-envelope fa-fw"></i>
											<span>contact</span>
										</a>
									</li>
								</ul>
								</div>
							</div><!-- /.navbar-collapse -->        
						</div>

					</div>
				</div>
			</nav>
		</section>

		<!-- ========================================= -->
		<!-- $WORK ITEM TITLE SECTION                  -->
		<!-- ========================================= -->

		<section id="single-work-item" class="bg-image" style="background-image: url(media/images/backgrounds/work.png)" data-stellar-background-ratio="0.5">

			<!-- OVERLAY -->
			<div class="overlay"></div>

			<div class="container text-center">
				
				<!-- #PROJECT TTILE -->
				<h2 class="heavy text-uppercase wow fadeInUp" data-wow-delay="0.35s">single project vimeo preview</h2>

			</div>
		</section>

		<!-- ========================================= -->
		<!-- $WORK ITEM DETAILS                        -->
		<!-- ========================================= -->

		<section id="item-details" class="main-block">
			<div class="container">

				<!-- #PREVIEW / DETAILS -->
				<div class="project-preview">

					<!-- @WORK ITEMS NAVIGATION -->
					<div class="text-center">
						<ul class="list-inline list-gutter text-capitalize work-item-navigation wow fadeInUp">
							<li>
								<a href="#">
									<i class="fa fa-angle-left fa-fw"></i>
									<em>Previous</em>
								</a>
							</li><!--
							--><li>
								<a href="home-image-bottom.html#portfolio" class="sm-rounded-box">
									<i class="fa fa-bars fa-fw"></i>
								</a>
							</li><!--
							--><li>
								<a href="#">
									<em>next</em>
									<i class="fa fa-angle-right fa-fw"></i>
								</a>
							</li>
						</ul>
					</div>
					
					<!-- @PREVIEW -->
					<div class="fitvid">
						<iframe src="//player.vimeo.com/video/37385307?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>

					<!-- @DETAILS -->
					<div class="row project-details">
						
						<!-- &PROJECT DESCRIPTION -->
						<div class="col-md-8 wow fadeInLeft">
							
							<h5 class="bold text-capitalize">project description</h5>

							<p>
								Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
							</p>

							<p>
								This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
							</p>

						</div>

						<!-- &PROJECT INFORMATION -->
						<div class="col-md-3 col-md-push-1 project-info wow fadeInRight">
							
							<h5 class="bold text-capitalize">project info</h5>

							<ul class="list-unstyled">
								<li>
									<b>company</b> : envato
								</li>
								<li>
									<b>Date</b> : 01 Feb 2015
								</li>
								<li>
									<b>Role</b> : Developer
								</li>
							</ul>

							<div class="lg-padder">
								<a target="_blank" href="https://www.google.com" class="btn btn--main-color">visit website</a>
							</div>

						</div>

					</div>

				</div>
				
				<!-- #CLIENT TESTIMONIALS -->
				<div class="work-inner-section wow fadeInUp">
						
					<h5 class="bold text-uppercase text-center work-inner-title">client testimonial</h5>

					<blockquote>
						<p>
							Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.
						</p><br>
						<cite>- Envato CEO</cite>
					</blockquote>

				</div>
				
				<!-- #RELATED PROJECTS -->
				<div class="related-work-items">
					
					<h5 class="bold text-uppercase text-center work-inner-title wow fadeInUp">related projects</h5>

					<div class="row text-align-center">

						<!-- PORTFOLIO ITEM -->
						<div class="col-md-3">
							<div class="portfolio-item wow fadeInUp" style="background-image: url(media/images/work/thumbnails/01.png);" data-groups='["all", "web-design"]'>
								<div class="item-caption">
									<div class="table">
										<div class="table-cell">
											<a href="media/images/work/large/01.png" class="icon-btn plus-icon zoom-btn plus-icon-big btn--main-inverted"></a>
											<a href="#" class="btn-icon portfolio-icon-btn btn--main-inverted">
												<i class="fa fa-link"></i>
											</a>
											<h6 class="text-uppercase normal md-padder">project title here</h6>
											<em class="serif">web design</em>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- PORTFOLIO ITEM -->
						<div class="col-md-3">
							<div class="portfolio-item wow fadeInUp" style="background-image: url(media/images/work/thumbnails/02.png);" data-groups='["all", "web-design"]'>
								<div class="item-caption">
									<div class="table">
										<div class="table-cell">
											<a href="media/images/work/large/02.png" class="icon-btn plus-icon zoom-btn plus-icon-big btn--main-inverted"></a>
											<a href="#" class="btn-icon portfolio-icon-btn btn--main-inverted">
												<i class="fa fa-link"></i>
											</a>
											<h6 class="text-uppercase normal md-padder">project title here</h6>
											<em class="serif">web design</em>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- PORTFOLIO ITEM -->
						<div class="col-md-3">
							<div class="portfolio-item wow fadeInUp" style="background-image: url(media/images/work/thumbnails/03.png);" data-groups='["all", "web-design"]'>
								<div class="item-caption">
									<div class="table">
										<div class="table-cell">
											<a href="media/images/work/large/03.png" class="icon-btn plus-icon zoom-btn plus-icon-big btn--main-inverted"></a>
											<a href="#" class="btn-icon portfolio-icon-btn btn--main-inverted">
												<i class="fa fa-link"></i>
											</a>
											<h6 class="text-uppercase normal md-padder">project title here</h6>
											<em class="serif">web design</em>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- PORTFOLIO ITEM -->
						<div class="col-md-3">
							<div class="portfolio-item wow fadeInUp" style="background-image: url(media/images/work/thumbnails/04.png);" data-groups='["all", "web-design"]'>
								<div class="item-caption">
									<div class="table">
										<div class="table-cell">
											<a href="media/images/work/large/01.png" class="icon-btn plus-icon zoom-btn plus-icon-big btn--main-inverted"></a>
											<a href="#" class="btn-icon portfolio-icon-btn btn--main-inverted">
												<i class="fa fa-link"></i>
											</a>
											<h6 class="text-uppercase normal md-padder">project title here</h6>
											<em class="serif">web design</em>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>

		</section>

		<!-- ========================================= -->
		<!-- $FOOTER SECTION                           -->
		<!-- ========================================= -->

		<footer class="text-center secondary-block-spacer">

			<!-- #SOCIALS -->
			<div class="xlg-padder">

				<!-- #FOOTER SOCIAL LIST -->
				<ul class="list-inline hollow-social-menu h5 list-gutter-xs">
					<li class="wow rollIn">
						<a href="#" class="sm-rounded-box twitter-bg">
							<i class="fa fa-twitter"></i>
						</a>
					</li><!--
					--><li class="wow rollIn" data-wow-delay="0.3s">
						<a href="#" class="sm-rounded-box google-plus-bg">
							<i class="fa fa-google-plus"></i>
						</a>
					</li><!--
					--><li class="wow rollIn" data-wow-delay="0.6s">
						<a href="#" class="sm-rounded-box behance-bg">
							<i class="fa fa-behance"></i>
						</a>
					</li><!--
					--><li class="wow rollIn" data-wow-delay="0.9s">
						<a href="#" class="sm-rounded-box dribbble-bg">
							<i class="fa fa-dribbble"></i>
						</a>
					</li><!--
					--><li class="wow rollIn" data-wow-delay="1.2s">
						<a href="#" class="sm-rounded-box github-bg">
							<i class="fa fa-github"></i>
						</a>
					</li>
				</ul>

			</div>
			
			<!-- #COPYRIGHT -->
			<div class="xlg-padder text-capitalize">
				<div class="well-sm copyright-holder">
					<small>copyright &#169; 2015. all rights reserved</small>
				</div>
			</div>

		</footer>

		<!-- ========================================= -->
		<!-- $SCRIPTS                                  -->
		<!-- ========================================= -->

		<!-- #LIBS -->
		<script src="js/libs/jquery-latest.min.js"></script>
		<script src="js/libs/modernizr-latest.min.js"></script>
		<script src="js/libs/bootstrap.min.js"></script>

		<!-- #PLUGINS -->
		<script src="js/plugins/jquery.malihu.PageScroll2id.min.js"></script>
		<script src="js/plugins/jquery.sticky-kit.min.js"></script>
		<script src="js/plugins/jquery.magnific-popup.min.js"></script>
		<script src="js/plugins/jquery.fitvids.min.js"></script>

		<!-- #CUSTOM -->
		<script src="js/script.js"></script>

	</body>
</html>